<h2> Main Application Page</h2>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActivate="active">Home Page</a></li>
  </ul>
</nav>
<div class="main-container">
  <router-outlet></router-outlet>
</div>